<div class="row">
    <div class=" col-md-11 border-bottom border-dark" style="margin-bottom: 16px; padding-bottom: 8px;">
        <h4 style="margin-bottom: 0px; color: rgb(120, 120, 120);">
            {{job['title']}}
        </h4>
        <div style="margin-bottom: 0px; margin-top: 0%;">
            <b>
            Location: {{job['location']}}
            </b>
        </div>
        {% if 'Wages/Hour' in job %}
        <div style=" margin-top: 0px;">
            <b>
            Wages: {{job['Wages/Hour']}}
            </b>
        </div>
        {% endif %}
        <div style=" margin-top: 0px;">
            <b>
            Member: {{job['member']}}
            </b>
        </div>
    </div>
    <div class="col-1 border-bottom border-dark" style="margin-bottom: 16px;">
        <form action= {{job['github']}}>
            <button type="submit" class="btn btn-outline-dark btn-sm">View<br>Github<br>Profile</button>
        </form>
    </div>
</div>