<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code-Crusaders.com</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='cs-logo.ico') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-dark">
    {% include 'nav.html' %}
    <div class="container bg-secondary border-primary rounded-4">
      <h1 class="text-start mt-2 mb-2 p-3">The {{company_name}}</h1>
      <img
        id="banner"
        class="text-center img-fluid rounded-5 p-3"
        src="static/cs-logo.ico"
        style="max-height: 450px"
        alt="a picture of apple's iphone xs max"
      />
      <h2 class="ms-4">About the {{company_name}}</h2>
      <p class="lead text-light mx-4">
        The Code Crusaders are a dynamic and tightly-knit programming team,
        consisting of innovative and passionate individuals with a shared
        mission to conquer the realm of software development. Armed with a
        diverse range of programming languages and cutting-edge technologies,
        this formidable squad fearlessly takes on complex challenges and
        consistently delivers exceptional solutions. With a strong emphasis on
        collaboration and knowledge-sharing, the Code Crusaders foster a
        supportive and inclusive environment, empowering each member to unleash
        their full potential. Their commitment to excellence, adaptability, and
        unwavering determination makes them an unstoppable force, leaving an
        indelible mark on the world of coding and inspiring future generations
        of programmers.
      </p>
      <h1 class="text-center">Our Team</h1>
      <div class="bg-dark-subtle rounded-5 m-4 mt-4 mb-2 p-4">
        {% for job in jobs %} {% include 'jobitem.html' %} {% endfor %}
      </div>
      <h2 class="text-center mt-2 mb-4">Their acheivements</h2>
      <!-- <p>TODO - Show acheivements</p> -->
      <br />
      <br />
      <div class="container row">
        <div class="col-md-4">
          <img
            class="img-fluid rounded-5 p-3"
            src="https://i.ibb.co/Bt9VTjJ/IMG-20230615-124400-695.jpg"
            alt="IMG-20230615-124400-695"
          />
        </div>
        <div class="col p-4 bg-dark-subtle rounded-5 ms-4">
          In an intense and fast-paced 7-hour hackathon, the Code Crusaders
          proved their mettle as agile problem solvers, clinching the top spot.
          Fueled by their passion for innovation, the team brainstormed, coded,
          and iterated relentlessly to develop a revolutionary mobile app that
          addressed a pressing societal challenge: food waste reduction.
          Leveraging AI algorithms, the app intelligently matched surplus food
          from restaurants and events with nearby food banks and shelters,
          reducing wastage and bridging the gap between surplus and hunger.
          Their seamless execution, effective communication, and laser-focused
          teamwork enabled the Code Crusaders to shine amidst fierce
          competition, leaving a lasting impact on both the hackathon community
          and the greater community they aimed to serve.
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col p-4 bg-dark-subtle rounded-5 mx-4">
          The Code Crusaders achieved remarkable breakthroughs in the realm of
          cybersecurity, revolutionizing the industry with their cutting-edge
          innovations and unwavering dedication. Through meticulous research and
          development, the team successfully devised a state-of-the-art
          intrusion detection system, leveraging machine learning algorithms to
          detect and thwart sophisticated cyber threats in real-time. Their
          ingenious approach to encryption resulted in the creation of a
          quantum-resistant cryptographic protocol, safeguarding sensitive data
          from potential quantum computing attacks. Additionally, the Code
          Crusaders pioneered a novel biometric authentication system that
          combined facial recognition, fingerprint analysis, and behavioral
          biometrics to ensure unparalleled security for digital identities.
          These groundbreaking advancements not only earned them accolades from
          the cybersecurity community but also served as a crucial milestone in
          fortifying the digital landscape against emerging threats.
        </div>
        <div class="col-md-4">
          <img
            class="img-fluid rounded-5 p-3"
            src="https://i.ibb.co/wWb6FBK/77de1ecfd5b88b52f9c919e2a0504070.webp"
            alt="77de1ecfd5b88b52f9c919e2a0504070"
          />
        </div>
      </div>
      <h2 class="ms-3">Our Services:</h2>
      <div class="container bg-dark-subtle rounded-5 mx-auto mt-4 pb-2 pt-2">
        {% for item in services %} {% include 'services.html' %} {% endfor %}
      </div>
      <form
        action="https://github.com/Code-Crusaders-final-project/CMP-114-Project.git"
      >
        <div class="text-center">
          <button type="submit" class="btn btn-dark mb-4 mt-4">
            See other projects on Github&#174; 
          </button>
        </div>
      </form>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
